<table>
  <tr>
    <td><strong>Options:</strong></td>
  </tr>
  <tr>
    <td><a href="{% url 'add_customer' %}">Add customer</a></td>
    <td><a href="{% url 'retrieve_customer' %}">Retrieve customer</a></td>
    <td><a href="{% url 'all_customers' %}">Get all customers</a></td>
  </tr>
  <tr>
    <td><table>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=sepa">Add SEPA transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=brazil_pay_boleto">Add BrazilPayBoleto transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=brazil_pay_bank_transfer">Add BrazilPayBankTransfer transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=teleingreso">Add Teleingreso transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=safetypay">Add SafetyPay transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=poli">Add POLi transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=ideal">Add IDEAL transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=trustpay">Add TrustPay transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=mistercash">Add MisterCash transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=przelewy24">Add Przelewy24 transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=giropay">Add GiroPay transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=credit_card">Add Credit Card transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=directpay">Add DirectPay transaction</a></td></tr>
      <tr>
        <td><a href="{% url 'add_transaction' %}?transaction_type=directpaymax">Add DirectPayMax transaction</a></td></tr>
    </table></td>
    <td><a href="{% url 'retrieve_transaction' %}">Get transaction</a></td>
    <td><a href="{% url 'all_transactions' %}">Get all transactions</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'add_subscription' %}">Add subscription</a></td>
    <td><a href="{% url 'retrieve_subscription' %}">Get subscription</a></td>
    <td><a href="{% url 'all_subscriptions' %}">Get all subscriptions</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'add_plan' %}">Add plan</a></td>
    <td><a href="{% url 'retrieve_plan' %}">Get plan</a></td>
    <td><a href="{% url 'all_plans' %}">Get all plans</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'add_void' %}">Void Transaction</a></td>
    <td><a href="{% url 'retrieve_void' %}">Get Void</a></td>
    <td><a href="{% url 'all_voids' %}">Get all voids for transaction</a></td>
  </tr>
  <tr>
    <td><a href="{% url 'add_refund' %}">Refund Transaction</a></td>
    <td><a href="{% url 'retrieve_refund' %}">Get Refund</a></td>
    <td><a href="{% url 'all_refunds' %}">Get all refunds for transaction</a></td>
  </tr>
</table>